api-node.json
[
    {
        "id": "3ba181c8ce2adb42",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de663f9263cf7e35",
        "type": "http in",
        "z": "3ba181c8ce2adb42",
        "name": "",
        "url": "medicines",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "56f3a5bb9413ab2f"
            ]
        ]
    },
    {
        "id": "55a635d3a8297000",
        "type": "http response",
        "z": "3ba181c8ce2adb42",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "56f3a5bb9413ab2f",
        "type": "change",
        "z": "3ba181c8ce2adb42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'{\"teste\":\"teste\"}'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "55a635d3a8297000"
            ]
        ]
    },
    {
        "id": "967e4a8370401990",
        "type": "http in",
        "z": "3ba181c8ce2adb42",
        "name": "",
        "url": "medicines",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "844c3b41191c0ef4"
            ]
        ]
    },
    {
        "id": "844c3b41191c0ef4",
        "type": "debug",
        "z": "3ba181c8ce2adb42",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    }
]